body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-gb4akd-MuiButtonBase-root-MuiTab-root {
  color: rgba(0, 0, 0, 0.6)!important;
  opacity: 1!important;
}

.css-cis523 .MuiTextField-root {
  margin-top: 0px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  left: 12px!important;
}

.css-h4y409-MuiList-root a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}